@charset "UTF-8";

body {
    background-color: rgba(25, 147, 228, 0.856);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
}

h1#principal {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
    color: rgb(18, 28, 88);
}