@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FBEED2, #AA817E);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #262417;
    text-align: center;
    text-shadow: 1px 1px 2px #413c22;
}

h2 {
    color: #8C6E37;
}
p {
    text-align: justify;
}